:root {
    --bg-color: #0d0d0d;
    --yellow: #f5e65b;
    --purple: #3b1da8;
    --light: #ffface;
    --border-color: #525252;
    --gradient: linear-gradient(15deg, rgba(245, 230, 91, 1) 0%, rgba(59, 29, 168, 1) 100%);
    --smooth-gradient: linear-gradient(60deg, rgba(205, 194, 91, 0.1) 0%, rgba(59, 29, 168, 0.1) 100%);
    --card-hover-gradient: linear-gradient(15deg, rgba(245, 230, 91, 0.6) 0%, rgba(59, 29, 168, 0.6) 100%);
    --bar-gradient: linear-gradient(71.38deg, rgba(74, 48, 147, 0.5) 0%, rgba(90, 90, 90, 0.5) 147.42%);
}

body {
    overflow: hidden;
}

main {
    display: grid;
    grid-template-columns: 5% 95%;
    grid-template-rows: 100vh;
}

.sidebar {
    background-color: #4242423d;
    backdrop-filter: blur(20px);
    border-right: 1px solid var(--border-color);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10rem;
}

.box {
    display: grid;
    gap: 1rem;
}

.item {
    background-color: #3a3a3a49;
    backdrop-filter: blur(20px);

    position: relative;
    cursor: pointer;

    width: 35px;
    height: 35px;
    border-radius: 5px;

    display: grid;
    place-content: center;
    transition: .2s ease;
}

.item i {
    font-size: 1rem;
    color: #ADADAD;
}

.item h5 {
    color: var(--light);
    font-weight: 300;
    letter-spacing: 1px;

    position: absolute;
    align-self: center;
    left: 4rem;
    opacity: 0;
    transition: .2s ease;
}

.item:hover {
    background: var(--smooth-gradient);
    color: var(--yellow);
}

.item:hover h5 {
    opacity: 1;
}

.content-chart {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.container {
    width: 90%;
    max-width: 1000px;
    height: 600px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
}

.container-profile {
    width: 100%;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 3rem;
}

.container-profile .item {
    all: unset;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 1rem;
}

.info-profile h2 {
    color: var(--light);
    font-weight: 300;
    height: 20px;
    letter-spacing: 1px;
    font-size: 1rem;
}

.info-profile span {
    color: var(--yellow);
    font-size: .6rem;
    font-weight: 200;
    letter-spacing: 2px;
}

.profile img {
    background-color: #3b1da8;

    width: 35px;
    height: 35px;

    border-radius: 5px;
}

.grid1 .content{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.wall {
    height: 40px;
    width: 2px;
    background-color: var(--border-color);
}

.kpi {
    display: grid;
    place-items: center;
}

.kpi .title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.kpi .title span {
    width: max-content;
    color: #999999;
    font-size: .7rem;
    letter-spacing: 2px;
}

.on {
    color: #3ad13a;
}

.off {
    color: #d13a47;
}

.called {
    color: var(--yellow);
}

.kpi h1 {
    line-height: 100%;
    font-size: 3rem;
    font-weight: 200;
}

.grid-wrapper {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.insights {
    background-color: #4242423d;
    backdrop-filter: blur(20px);
    border: 1px solid var(--border-color);
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1rem;
}

.insights .title{
    letter-spacing: 2px;
    font-size: .6rem;
    text-transform: uppercase;
    color: #999999;
}

.grid1 {
    grid-area: 1 / 1 / 1/ 4;
    height: 80px;
}

.grid2 {
    grid-area: 2 / 3 / 2 / 4;
    height: 120px;
}

.grid3 {
    grid-area: 3 / 3 / 2 / 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 320px;
}

.grid4 {
    grid-area: 2 / 1 / 3 / 3;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: flex-start;
    height: 320px;
}

.grid5 {
    grid-area: 3 / 1 / 4 / 4;
    gap: 2rem;
    background-color: transparent;
}


/* MÁQUINAS */
.grid-devices{
    width: 100%;

    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    overflow-y:auto;
}

.card{
    height: 100px;

    background-color: #4242423d;
    backdrop-filter: blur(20px);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 1rem;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;

    transition: .2s ease;
}

.card:hover{
    background-color: #5353533d;
    border: 1px solid #ffface91;

    cursor: pointer;
}

.card .img-device{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 100px;

    display: grid;
    place-content: center;

    background: linear-gradient(70deg, #1f1f1f, #20202000);
}

.card img{
    height: 80px;
}

.card .info{
    width: 50%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: .2rem;
}

.card .info span{
    color: #ADADAD;
    font-size: .6em;
    font-weight: 400;
    letter-spacing: 2px;
}

.card .info h1{
    line-height: 25px;
    color: var(--light);
    letter-spacing: 2px;
    font-size: 1.2rem;
}

.card .status{
    width: 15px;
    height: 15px;
    align-self: self-start;

    border-radius: 50px;
}