:root {
  --bg-color: #0d0d0d;
  --yellow: #f5e65b;
  --purple: #3b1da8;
  --light: #ffface;
  --gradient: linear-gradient(15deg, rgba(245, 230, 91, 1) 0%, rgba(59, 29, 168, 1) 100%);
  --smooth-gradient: linear-gradient(
    37.5deg,
    rgba(205, 194, 91, 0.2) 0%,
    rgba(59, 29, 168, 0.2) 100%
  );
  --card-hover-gradient: linear-gradient(
    15deg,
    rgba(245, 230, 91, 0.6) 0%,
    rgba(59, 29, 168, 0.6) 100%
  );
  --bar-gradient: linear-gradient(
    71.38deg,
    rgba(74, 48, 147, 0.5) 0%,
    rgba(245, 230, 91, 0.5) 147.42%
  );
}

input,
select,
button {
  background-color: rgb(63, 63, 63, 0.4);
  color: var(--light);
  font-weight: 200;

  outline: 1px solid #a0a0a099;
  border-radius: 5px;
  padding: 0.5rem;
  transition: 0.2s ease;
}

input:focus {
  outline-color: #adadad;
}

button {
  width: 100px;
  color: var(--bg-color);
  background-color: var(--yellow);

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  outline: 0;
}

button:hover {
  width: 120px;
  background-color: #fae73c;
}

button:hover i {
  transform: rotate(360deg);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
}

.modal-content {
  align-self: flex-start;
  justify-self: center;
  background-color: #07070794;
  backdrop-filter: blur(50px);

  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  border-radius: 5px;

  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -100;

  transition: 0.2s ease;
  animation: upFade 0.2s ease;
}

@keyframes upFade {
  0% {
    transform: translateY(-100px);
  }
}

.info-func {
  width: 100%;
  color: var(--light);
  font-size: 2rem;
  font-weight: 200;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.bar {
  background-color: #707070;
  height: 20px;
  width: 2px;
}

.modal {
  width: 40%;
  display: grid;
  grid-template-columns: 30% 50% 20%;
  gap: 1rem;
}

table {
  width: 100%;
}

table td {
  text-align: center;
}

table .row {
  width: 100%;
  color: var(--light);
  background-color: #1a1a1a;
  border-left: 1px solid #707070;
  border-right: 1px solid #707070;

  padding: 1rem 0;

  display: grid;
  grid-template-columns: 10% 25% 35% 20% 10%;

  font-weight: 200;

  animation: reveal 0.5s ease;
  transition: 0.2s ease;
  animation: fadeIn 0.5s ease;
}

table .row:hover {
  background-color: #242424;
}

thead .row:first-child {
  font-weight: bolder;
  background-color: var(--bg-color);
  border: 1px solid #303030;

  font-size: 0.8rem;
  font-weight: 200;
  letter-spacing: 2px;

  margin-bottom: 1rem;
  border-radius: 5px;
}

tbody .row:first-child {
  border-top: 1px solid #707070;
  border-radius: 5px 5px 0 0;
}

tbody .row:last-child {
  border-bottom: 1px solid #707070;
  border-radius: 0 0 5px 5px;
}

.ph-duotone {
  cursor: pointer;
}

.edit {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

i {
  font-size: 1.2rem;
  transition: 0.2s ease;
}

.edit i:hover {
  transform: rotate(360deg);
}

.edit i:first-child {
  color: var(--yellow);
}

.edit i:first-child:hover {
  color: #ffe81b;
}

.edit i:last-child {
  color: #e72929;
}

.edit i:last-child:hover {
  color: #ff1515;
}
