:root {
    --bg-color: #0d0d0d;
    --yellow: #f5e65b;
    --purple: #3b1da8;
    --light: #ffface;
    --gradient: linear-gradient(15deg, rgba(245, 230, 91, 1) 0%, rgba(59, 29, 168, 1) 100%);
    --smooth-gradient: linear-gradient(
      37.5deg,
      rgba(205, 194, 91, 0.2) 0%,
      rgba(59, 29, 168, 0.2) 100%
    );
    --card-hover-gradient: linear-gradient(
      15deg,
      rgba(245, 230, 91, 0.6) 0%,
      rgba(59, 29, 168, 0.6) 100%
    );
    --bar-gradient: linear-gradient(
      71.38deg,
      rgba(74, 48, 147, 0.5) 0%,
      rgba(245, 230, 91, 0.5) 147.42%
    );
  }
  
  table {
    color: aliceblue;
    background-color: #2b2b2b;
    width: 80%;
  }
  
  table tr,th{
      border: 1px solid gray;
  }
  
  
  /* table .row {
    width: 500px;
    color: white;
    background-color: var(--bg-color);
  
    border: 1px solid rgb(43, 43, 43);
    border-radius: 5px;
    padding: 1rem 0.5rem;
  
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 200;
    letter-spacing: 2px;
  
    animation: reveal 0.5s ease;
    transition: 0.2s ease;
  } */
  