@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600&display=swap');

:root{
    --bg-color: #0D0D0D;
    --yellow: #F5E65B;
    --purple: #3B1DA8;
    --light: #FFFACE;
    --gradient: linear-gradient(15deg, rgba(245,230,91,1) 0%, rgba(59,29,168,1) 100%);
}

* {
	margin: 0;
	padding: 0;
	border: 0;
    outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: Kanit, sans-serif;
}

body {
    font-family: Kanit, sans-serif;
	background-color: var(--bg-color);
	overflow-x: hidden;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}