:root{
    --bg-color: #0D0D0D;
    --yellow: #F5E65B;
    --purple: #3B1DA8;
    --light: #FFFACE;
    --gradient: linear-gradient(15deg, rgba(245,230,91,1) 0%, rgba(59,29,168,1) 100%);
    --card-gradient: linear-gradient(15deg, rgba(245,230,91,0.35) 0%, rgba(59,29,168,0.35) 100%);
    --card-hover-gradient: linear-gradient(90deg, rgba(245,230,91,0.6) 0%, rgba(59,29,168,0.6) 100%);
}


#hero{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header{
    padding: 2rem 0;
    width: 80%;
    display: grid;
    grid-template-columns: 200px 400px 200px;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center; 
}

nav ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 200;
}

a{
    text-decoration: none;
    color: var(--light);
    text-transform: lowercase;
}

.login-button{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.login-button button{
    width: 50%;
    background-color: transparent;
    color: var(--yellow);
    font-weight: 400;
    font-size: .8rem;
    letter-spacing: 1px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;

    border-radius: 5px;
    border: 1px solid var(--yellow);
    padding: .2rem 1rem;
}

.login-button button:hover{
    color: var(--bg-color);
    background-color: var(--yellow);
    border: none;
}

.hero-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 450px;
    margin-bottom: 5rem;
}

.hero-content img{
    width: 110%;
    position: absolute;
    top: 10%;
    left: 25%;
    z-index: -1;
}

.hero-text{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 1rem;
}

.hero-text h1{
    line-height: 60px;
    font-size: 3rem;
    color: var(--light);
    font-weight: 200;
}

.hero-text span{
    color: var(--yellow);
    font-weight: 400;
}

.hero-text button{
    width: 35%;
    background-color: var(--purple);
    color: var(--light);
    font-weight: 300;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;

    padding: .4rem 1rem;
    border-radius: 5px;

    transition: .3s ease;
}

.hero-text button:hover{
    background-color: #4c29c9;
    width: 40%;
}

.hero-text button i{
    transition: .3s ease;
    transform: rotate(0deg);
}

.hero-text button:hover i{
    transform: rotate(360deg);
}

.vantagens {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.title{
    background: linear-gradient(15deg, rgba(245,230,91,0.2) 0%, rgba(59,29,168,0.2) 100%);
    backdrop-filter: blur(4px);
    padding: 0.3rem 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 2rem;
    border-radius: 5px;
    font-weight: 200;
    color: var(--light);
}

.box-cards {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4.2rem;

}

.card{
    background: var(--card-gradient);
    backdrop-filter: blur(4px);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 1rem 1rem 1rem;
    transition: .2s ease;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -o-transition: .2s ease;
    cursor: pointer;
}

.card:hover {
    background: var(--card-hover-gradient);
    box-shadow: 0 0 50px #f5e65bac;
}

.card img {
    position: relative;
    bottom: 5rem;
}

.card p {
    color: white;
    font-weight: 200;
    line-height: 25px;
    font-size: 1.2rem;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 501px;
}

.card-content img {
    position: relative;
    top: 3.5rem;
    width: 120px;
    z-index: 1;
    transition: .2s ease;
}

.card-content:hover img {
    width: 150px;
 
}

.card-content:hover .card {
    background: var(--card-hover-gradient);
    box-shadow: 0 0 50px #f5e65bac;
}