/* Raiz do projeto - Atribuição de variáveis */
:root {
  --bg-color: #0d0d0d;
  --yellow: #f5e65b;
  --purple: #3b1da8;
  --light: #ffface;
  --gradient: linear-gradient(15deg, rgba(245, 230, 91, 1) 0%, rgba(59, 29, 168, 1) 100%);
  --smooth-gradient: linear-gradient(37.5deg, rgba(205, 194, 91, 0.2) 0%, rgba(59, 29, 168, 0.2) 100%);
  --card-hover-gradient: linear-gradient(15deg, rgba(245, 230, 91, 0.6) 0%, rgba(59, 29, 168, 0.6) 100%);
  --bar-gradient: linear-gradient(71.38deg, rgba(74, 48, 147, 0.5) 0%, rgba(245, 230, 91, 0.5) 147.42%);

}

/* --- Hero - Sessão inicial do site --- */

main {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

#hero {
  padding-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header {
  width: 80%;
  display: grid;
  grid-template-columns: 25% 40% 25%;
  justify-content: space-between;
  align-items: center;
  gap: 5%;

  transition: .5s ease;
}

header.sticky {
  background: #a8a61d11;
  backdrop-filter: blur(30px);

  position: fixed;
  top: 0;
  z-index: 10;
  grid-template-columns: 150px 350px 180px;
  justify-content: space-around;
  gap: 4rem;

  padding: 1rem 0;
  border-radius: 0 0 5px 5px;

}

header.sticky .container-logo img {
  width: 100px;
}

.container-logo{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.container-logo img {
  width: 60%;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 200;
}

a {
  text-decoration: none;
  color: var(--light);
  text-transform: lowercase;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: .2rem;
}

.topic-bar {
  width: 0;
  height: 2px;
  border-radius: 100px;
  background: var(--gradient);
  opacity: .8;
  transition: .2s ease;
}

a:hover .topic-bar {
  width: 70%;
  height: 2px;
}

a:hover {
  color: #fff59f;
}

.login-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.login-button button {
  width: 50%;
  background-color: transparent;
  color: var(--yellow);
  font-weight: 400;
  font-size: 0.8rem;
  letter-spacing: 1px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  border-radius: 5px;
  border: 1px solid var(--yellow);
  padding: 0.3rem 1rem;
}

.login-button button:hover {
  color: var(--bg-color);
  background-color: var(--yellow);
  border: none;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  
  margin-bottom: 5rem;
  transition: .2s;
}

.hero-img {
  width: 50%;
  height: 450px;
  z-index: -1;

  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-img img {
  width: 1200px;
  position: relative;
  top: 10rem;
  animation: move 10s infinite ease-in-out;
}

@keyframes move {
  0% {
  transform: translateY(20px);
  }

  50% {
  transform: translateY(0);
  }

  100% {
  transform: translateY(20px);
  }
}

.hero-text {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 1rem;
}

.hero-text h1 {
  width: 90%;
  line-height: 110%;
  font-size: 3rem;
  color: var(--light);
  font-weight: 200;
}

.hero-text span {
  color: var(--yellow);
  font-weight: 400;
  transition: 0.3 ease;
}

.btn {
  width: 200px;
  background-color: var(--purple);
  color: var(--light);
  font-weight: 300;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  padding: 0.4rem 1rem;
  border-radius: 5px;

  transition: .2s ease;
}

.btn i {
  transition: 0.3s ease;
  transform: rotate(0deg);
}

.btn:hover {
  background-color: var(--yellow);
  color: var(--bg-color);
  width: 40%;
}

.btn:hover i {
  transform: rotate(360deg);
}

#small-login{
  display: none;
  background-color: #adadad15;
  color: #f5e65b;

  width: 12px;
  height: 10px;
  padding: 8px;

  border-radius: 3px;
  cursor: pointer;
  transition: .2s ease;
}

#small-login:hover{
  background-color: var(--yellow);
  color: var(--bg-color);
}


@media screen and (max-width: 720px){
  header{
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header.sticky{
    display: none;
  }

 
  .container-logo img{
    width: 80px;
  }
  
  .hero-content{
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .hero-text{
    text-align: center;
    align-items: center;
    width: 90%;
  }

  .hero-text h1{
    font-size: 1.5rem;
    width: 100%;
  }

  .hero-img{
    height: 200px;  
  }

  .hero-img img{
    width: 500px;
    top: 0;
  }

  .btn{
    width: 120px;
    font-size: .7rem;
  }

  .btn:hover{
    width: 130px;
  }

  nav, 
  .login-button{
    display: none;
  }

  #small-login{
    display: flex;
    justify-content: center;
    align-items: center;
  }

}
/* ---- Vantagens -------*/

.benefits-content {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.title {
  background: linear-gradient(15deg, rgba(245, 230, 91, 0.1) 0%, rgba(59, 29, 168, 0.1) 100%);
  color: var(--light);
  backdrop-filter: blur(5px);
  padding: 0.3rem 1.4rem;

  width: max-content;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 1.5rem;
  font-weight: 200;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.box-cards {
  width: 80%;
  height: 500px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4rem;

  position: relative;
  bottom: 20px;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;

  border-radius: 1000px;
  height: 380px;
}

.card-content img {
  height: 120px;
  filter: saturate(0);

  position: absolute;
  top: 0;
  z-index: 1;

  transition: 0.3s ease;
}

.card-content:hover img {
  filter: saturate(1);
  height: 130px;
}

.card-content:hover .card{
  transform: translateY(10px);
}

.card::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--gradient);
  filter: blur(30px);
  opacity: 0;
  border-radius: inherit;
  transition: .2s ease;
}

.card-content:hover .card::before {
  opacity: .8;
}

.card::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  border-radius: inherit;
}

.card {
  background: var(--smooth-gradient);
  backdrop-filter: blur(20px);
  border-radius: 10px;
  height: 150px;
  max-height: 200px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  padding: 5rem 2rem 2rem 2rem;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

.card p {
  color: white;
  font-weight: 200;
  line-height: 150%;
  font-size: 100%;
}

@media screen and (max-width: 720px) {
  .title{
    font-size: 1rem;
  }

  .box-cards{
    overflow-y: hidden;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;

    grid-template-columns: 250px 250px 250px;
  }
  
  .card-content{
    scroll-snap-align: center;
  }

  .card-content img{
    height: 100px;
    top: 1rem;
  }

  .card-content:hover img{
    height: 110px;
  }

  .card{
    height: 180px;
  }

  .card p {
    text-align: center;
    font-size: 1rem;
  }

}

/* --- Atuaçao ---*/
#working {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
  padding: 5rem 0 2rem 0;
}

#working .bar {
  background: var(--bar-gradient);
  height: 400px;
  border-radius: 100px;
  padding: 0.3rem;
}

.container-working{
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-img {
  background: var(--gradient);
  width: 300px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-radius: 5px;
}

.container-img img {
  width: 140%;
  position: relative;
  top: 1px;
  animation: side-move 5s infinite ease-in-out;
}

@keyframes side-move {
  0% {
  transform: translateX(-10px);
  }

  50% {
  transform: translateX(0);
  }

  100% {
  transform: translateX(-10px);
  }
}

.info {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 2rem;
}

.info p {
  color: var(--light);
  font-size: 1.5rem;
  font-weight: 200;
}

@media screen and (max-width: 720px) {
  .container-working{
    width: 80%;
    flex-direction: column-reverse;
    gap: 5rem;
  }

  .container-img{
    height: 100px;
    width: 100%;
  }

  .container-img img{
    width: 150px;
  }

  .info{
    text-align: center;
    align-items: center;
    width: 100%;
  }

  .info p{
    font-size: 1rem;
  }
}

/* --- Services --- */
#service {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
  padding: 10rem 0 2rem 0;
}

.service-content {
  width: 80%;
  height: 300px;
  background: var(--smooth-gradient);
  border: 1px solid rgba(128, 128, 128, 0.4);
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding: 2rem 0rem;
}

.services-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  width: 40%;
}

.services-info p {
  color: var(--light);
  font-size: 1.2rem;
  font-weight: 200;
  margin-bottom: 2rem;
}

.service-content img {
  width: 500px;
}

.services-info img {
  width: 150px;
}

.btn-services {
  width: 45%;
  color: var(--bg-color);
  background-color: var(--yellow);
}

.btn-services:hover {
  width: 50%;
  background-color: var(--purple);
  color: var(--light);
}


/* --- Equipe --- */
#team {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin-bottom: 10rem;
  padding: 8rem 0 2rem 0;

}

.team-container {
  width: 80%;
  display: grid;
  grid-template-columns: 220px 220px 220px;
  place-content: center;
  gap: 5rem;
}

.member {
  height: 210px;
  background-color: #3b1da8;

  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-radius: 5px 40px 5px 5px;
  outline: 0 solid #adadad96;
  box-shadow: 0 0 0 #adadad6c;

  overflow: hidden;
  position: relative;
  transition: .2s ease;
}

.member:hover{
  box-shadow: 0 0 20px #adadad6c;
  outline: 1px solid #adadad96
}

.member img {
  border-radius: 5px 40px 5px 5px;
  width: 300px;
  height: 210px;
  object-fit: cover;
  object-position: center;
}

.member-info {
  position: absolute;
  background-color: #0d0d0d72;
  backdrop-filter: blur(15px);
  color: var(--light);
  width: 300px;
  height: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: .5rem;
  opacity: 0;
  overflow: hidden;
  transition: .3s ease;
}

.member:hover .member-info {
  height: 70px;
  opacity: 1;
}

.member-info .social {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--bg-color);
  padding: .5rem;
  border-radius: 5px 5px 0 0;
  font-size: 1.2rem;

}

.social i {
  cursor: pointer;
  transition: .2s ease;
}

.social i:hover {
  color: #f8e969;
  transform: rotate(360deg);
}

.member-info h2 {
  font-size: 1.2rem;
  font-weight: 200;
}

.member-info b {
  font-weight: 400;
}

/* --- Footer --- */

footer {
  width: 100%;
  background: var(--smooth-gradient);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  padding: 5rem 0;
}

.topics-content {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 5rem;
}

.topics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: .5rem;
}

.topics h2 {
  color: #ADADAD;
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: .5px;
}

.topics .topic {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;

  font-weight: 200;
}

.topics .topic li a:hover {
  color: #f5e65b;
}

.topics .social {
  background: var(--smooth-gradient);
  border: 1px solid rgba(128, 128, 128, 0.4);
  border-radius: 10px;
  padding: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.topics .social img {
  width: 20px;
  opacity: .8;
  cursor: pointer;
  transition: .2s ease;
}

.topics .social img:hover {
  opacity: 1;
}

.copyright {
  width: 100%;
  border-top: 1px solid gray;
  color: #ADADAD;
  font-weight: 200;

  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright .content {
  padding: 2rem 0;
}

@media screen and (max-width: 720px) {
  .title{
    font-size: 1rem;
  }
}

